useDynLib(mgm)
importFrom(Rcpp, evalCpp)
importFrom("stats", "cov2cor")
importFrom("stats", "var")
importFrom(matrixcalc, is.positive.definite)
importFrom(matrixcalc, is.symmetric.matrix)
importFrom("stats", "as.formula", "coef", "dnorm", "dpois", "model.matrix")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import(glmnet)
export(mgmfit, mgmsampler, confusion, print.mgm, summary.mgm, tv.mgmfit, tv.mgmsampler, var.mgm, tv_var.mgm, nodewise_error)
S3method(print, mgm)
S3method(summary, mgm)



