# exportPattern("^[[:alpha:]]+")


# Packages mgm depends on
import(stringr)
import(glmnet)
import(matrixcalc)
import(Hmisc)

importFrom("stats", "as.formula", "coef", "dnorm", "dpois",
             "model.matrix", "var")
importFrom("utils", "combn", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "rnorm", "rpois")

# Exported functions
export(mgm)
export(mvar)

export(tvmgm)
export(tvmvar)
export(bwSelect)

export(mgmsampler)
export(tvmgmsampler)

# Export old functions with defunct msg
export(mgmfit)
export(var.mgm)
export(tv.mgmfit)
export(tv_var.mgm)


# Exported S3 Methods
S3method(predict, mgm)
S3method(print, mgm)

